<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/smocha.png" alt="smocha recipe icon">
    <h4>Smokie's Boost</h4>
    <p>Smocha, Smokie roll's,</p>
  </li>
  <li class="recipe">
    <img src="/smocha.png" alt="smocha recipe icon">
    <h4>Chicken pineapple Twist</h4>
    <p>Smocha, Chicken wings, roll</p>
  </li>
  <li class="recipe">
    <img src="/smocha.png" alt="smoothie recipe icon">
    <h4>Protein Packer</h4>
    <p>Sambusa, Peanut butter, Ndengu</p>
  </li>
  <li class="recipe">
    <img src="/smocha.png" alt="smocha recipe icon">
    <h4>Beef Boost</h4>
    <p>Minced meat, Kachumbari, Kenchup roll</p>
  </li>
  <li class="recipe">
    <img src="/smocha.png" alt="smocha recipe icon">
    <h4>Mayai Twist</h4>
    <p>Smashed Eggs, Hot Kenchup, muffled beans</p>
  </li>
  <li class="recipe">
    <img src="/smocha.png" alt="smocha recipe icon">
    <h4>Protein Packer Ganier</h4>
    <p>Oats, Peanut butter, jollof rolls</p>
  </li>
</ul>

<%- include('partials/footer'); -%>